@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Libre+Bodoni:wght@500&family=Oswald&family=Poppins:wght@200;400&family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: rgb(237, 196, 196);
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    margin: 0 20px;
}

.cards{
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.one{
background-color: hsl(31, 77%, 52%);
border-radius: 10px 0  0 10px;
}

.two{
    background-color: hsl(184, 100%, 22%);
}

.three{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 10px  10px 0; 
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

h1{
color:#fff;
font-weight: bolder;
margin:20px 0;
}

p{
    color:#fff;
    margin-bottom: 20px;
}

.card-btn{
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color:#fff;
}

.card-btn:hover{
    background: #fff;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    color:hsl(179, 100%, 13%);
}

@media (max-width:699px) {

    .container{
        margin: 10px 20px;
    }

    .cards{
        flex-wrap: wrap;
        
    }

    .one{
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 10px  0 0;
        }

        .three{
            background-color: hsl(31, 77%, 52%);
            border-radius:0 0 10px 10px;
            }
}